<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AlamBinary01</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/unicons.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/public/css/tooplate-style.css">

</head>

<body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html"><i class='uil uil-user'></i> AlamBinary01</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                        <div class="color-mode d-lg-flex justify-content-center align-items-center">
                            <i class="color-mode-icon"></i>
                            Color mode
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Welcome to <span class="mobile-block">my portfolio
                                website!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Hey folks, I'm</span>
                            <div class="animated-info">
                                <span class="animated-item">Haseeb</span>
                                <span class="animated-item">Web Designer</span>
                                <span class="animated-item">Developer</span>
                            </div>
                        </h1>

                        <p>Building a successful product is a challenge. I am highly energetic in user experience
                            design, interfaces and web development.</p>

                        <div class="custom-btn-group mt-4">
                            <a href="/public/Haseeb_Muhstaq_Resume.pdf" id="hello" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i>
                                View Resume</a>
                            <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Get a free quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="/public/images/undraw/programmer.gif" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>
<!-- PROJECTS -->
<section class="project py-5" id="project">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2>Things I have designed for a Different companies</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="/public/images/project/iamge3.png" class="card-img-top" alt="Project Image">
                    <div class="card-body">
                        <h5 class="card-title">Akasha Foundation</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="/public/images/project/image1.png" class="card-img-top" alt="Project Image">
                    <div class="card-body"><br><br>
                        <h5 class="card-title">Nofie</h5>
                        <p class="card-text">Centralized vacation rental marketplace aggregating listings from various platforms, empowering guests and hosts.</p>
                        <a href="https://nofie.com/" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="/public/images/project/image2.png" class="card-img-top" alt="Project Image">
                    <div class="card-body"><br><br>
                        <h5 class="card-title">Smile Forever Smile With Glee</h5>
                        <p class="card-text">Your one-stop destination for cosmetic, implant, restorative surgeries, general checkups, and emergency dental services.</p>
                        <a href="https://gleedentistry.com/" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <!-- Add more card sections for each project as needed -->
        </div>
    </div>
</section>


    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="mb-4">Experiences</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2020-</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Freelancing</span><small>(Fiverr)</small></h3>
                                <p>Develop new user-facing feature, Build reusable code. Ensure the technical
                                    feasibility of design, Optimize application for maximum speed and scalibility.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021-2022</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Nest-NEPAL</span><small>Nepali Company</small></h3>
                                <p>Design and developed web products that focused on usability and user experience with
                                    an empasis on web analytics. </p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2022</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Dedais LLC.<small>Product Base Company</small></h3>
                                <p>I worked on new products for the company and its clients as a team member and project
                                    leader.I worked closely with more experienced developers on the server side and
                                    client-side of the company's products and that of its clients.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <h2 class="mb-4 mobile-mt-2">Educations</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2018-2020</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Punjab College</span><small>F.sc Pre-Engineering</small></h3>
                                <p>I received an A in my FSC pre-engineering from the Punjab Group of Colleges. </p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2020-24</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Fast-NUCES</span><small>Computer Science</small></h3>
                                <p>fun main(args : Array<String>)<br> {
                                        println("AlamBinary01 !")}</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 mr-lg-5 col-12">
                    <div class="google-map w-100">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.8934527037472!2d74.64887763643011!3d32.26156179953516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x13917b2181455546!2zMzLCsDE1JzM1LjMiTiA3NMKwMzknMTAuNiJF!5e1!3m2!1sen!2s!4v1670966125043!5m2!1sen!2s"
                            width="600" height="320" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade" width="400" height="300" frameborder="0"
                            style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                        <div class="contact-info-item">
                            <h3 class="mb-3 text-white">Say hello</h3>
                            <p class="footer-text mb-0">+923328347560</p>
                            <p><a href="mailto:hello@company.co">haseeb271002@gamil.com</a></p>
                        </div>

                        <ul class="social-links">
                            <li><a href="https://www.instagram.com/27.http" class="uil uil-instagram"
                                    data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                            <li><a href="https://github.com/AlamBinary01" class="uil-user" data-toggle="tooltip"
                                    data-placement="left" title="github profile"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="contact-form">
                        <h2 class="mb-4">Interested to work together? Let's talk</h2>

                        <form action="" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name"
                                        id="name" required>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <input type="email" class="form-control" name="email" placeholder="Email"
                                        id="email" required>
                                </div>
                                <div class="col-12">
                                    <input type="test"col="6"class="form-control" name="subject" placeholder="subject"
                                        id="email" required>
                                </div>

                                <div class="col-12">
                                    <textarea name="message" rows="6" class="form-control" id="message"
                                        placeholder="Message" required></textarea>
                                </div>

                                <div class="ml-lg-auto col-lg-5 col-12">
                                    <input type="submit" class="form-control submit-btn" value="Send Button">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <p class="copyright-text text-center">Copyright &copy; 2022 AlamBinary. All rights reserved</p>
                    <p class="copyright-text text-center">Designed by <a rel="nofollow"
                            href="https://github.com/AlamBinary01">AlamBinary</a></p>
                </div>

            </div>
        </div>
    </footer>

    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/Headroom.js"></script>
    <script src="/public/js/jQuery.headroom.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/smoothscroll.js"></script>
    <script src="/public/js/custom.js"></script>
    <script src="https://unpkg.com/kursor"></script>
    <script>
        new kursor({
            type: 1
        })

    </script>
</body>

</html>